

/* main */
.main{
  width: calc(100vw - 250px);
  background-color: #f5f6fb;
}

.createClass{
  width: 926px;
  font-family: NanumBarunGothic;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #6b6b6b;
}

/* .content{
  width: 926px;
  height: 767px;
  background-color: white;
  padding: 23px 123px 32px 111px;
} */

.articleSmall{
  width: 550px;
  height: 550px;
  background-color: white;
}

.articleBig{
  width:1126px;
  height: 550px;
  background-color: white;
}

.items{
  width:130px;
  font-family: NanumBarunGothic;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  text-align: left;
  color: #282628;
}

.itemContents{
  width:170px;
  font-family: NanumBarunGothic;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  text-align: left;
  color: #282628;
}
.itemStyle{
  margin-top:30px;
}

.confirmButton{
  margin-top: -5px;
  width:85px;
  height:24px;
  font-size:12px;
  font-family: NanumBarunGothic;
  font-weight: bold;
  padding:0;
  color: #fff;
  background-color: #6379f2;
  border-color: #007bff;
}

.itemsTeacher{
  margin-top:32px;
}

.itemContentsTeacher{
  margin-top:32px;
}

.itemStyleTeacher{
  margin-top:46px;
}
.tinyTextTeacher{
  margin-top:3px;
  font-size:12px;
  color:#808080;

}
